/* just to set the page so nothing crush*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --black-shadow: rgba(0, 0 ,0 , 0.9);
  --white: rgb(255,255,255);
  --green: rgb(159,205,190);
  --ligth-green: rgb(244,253,251);
  --dark-green: rgb(57,179,135);
  --neon-green: #3fca3f;
  --ligth-blue: rgb(46,57,81);
  --dark-blue: rgba(33,43,65);
  --grey: rgb(167, 154, 154);
  --light-grey: rgb(142,160,154);
  --graffiti: rgb(54,62,71);
  --orange: rgb(211, 143, 16);
  --red: rgb(245,84,77);
  --yellow: #f0be32;
}

/* light mode */
/* .invert-color{
-webkit-filter: invert(100%);
  filter: invert (100%);
} */
/* main calculator box set-up*/

.calculator {
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* this way we adjust the display placement of the calculator */
  width: 500px;
  height: 700px;
  background-color: var(--dark-blue);
}

.mini-display, .main-display{
  width: 100%;
  border: none;
  background-color: var(--dark-blue);
  color: var(--dark-green);
  text-align: right;
  justify-content:baseline;
  padding-right: 15px;

}

.mini-display{
  font-size: 2rem;
  padding-top: 40px;
  height: 80px;
}

.main-display{
  font-size: 4rem;
  height: 80px;
  padding-bottom: 10px;
  padding-top: 30px

}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 75%;
  background-color: var(--ligth-blue);
  align-items: center;
  justify-content: center;
  padding-left: 30px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.keys button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border-style: none;
  font-size: xx-large;
}

.keys button:hover{
  background-color: var(--grey);
  color: var(--dark-blue);
}

#equal {
  grid-column:3/5;
  height: 70px;
  width: 90%;
  border-radius: 5px;
  border-style: none;
  font-size: xx-large;
}

#equal:hover{
  background-color: var(--orange);
}

.menu{
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-blue);
  height: 3%;
  margin: 5px;
  border-radius: 5px;
}

.divToggle {
  position: relative;
  display: block;
  margin-top: 10px;
}

/* .toggle{
  height: 20px;
  width: 40px;
  background-color: var(--dark-green);
  border: 1px solid var(--dark-green);
  border-radius: 25px;
  margin-right: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
} */

#button-toggle{
  font-size: 6.5px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: var(--dark-green);
  height: 3em;
  width: 6em;
  border-radius: 3em;
  cursor: pointer;
  transition: background-color 0.09s ease-in-out;
  position: relative;
  margin-right: 10px;
}

#button-toggle:checked {
background-color: rgb(231, 229, 229);
border: 1px solid var(--light-grey)
}

#button-toggle::after {
  content:"";
  height: 2.5em;
  width: 2.5em;
  border-radius: 50%;
  background-color: var(--white);
  position: absolute;
  right: 0;
  margin-top: 1px;
  transition: right 0.09s ease-in-out;
  box-shadow: 0 0.1em var(--black-shadow);
}

#button-toggle:checked::after {
  right: 3em;
  background-color: var(--white);
}


.menu button{
  width: 15px;
  height: 15px;
  font-size: 7px;
  border-radius: 25px;
  margin-left: 8px;
  margin-top: 8px;
  border-style: none;
}
.clear-red{
  background-color: var(--red);
}

.clear-yellow{
  background-color: var(--yellow);
}

.clear-green{
  background-color: var(--neon-green);
}

body{
  background-color: var(--green);
}

.dark-blue{
  background-color: var(--dark-blue);
  color: var(--dark-green);
}

.number {
background-color: var(--ligth-blue);
color: var(--light-grey);
}

.dark-green{
  background-color: var(--dark-green);
}

.operators.red{
  background-color: var(--dark-blue);
  color: var(--dark-green)
}

/* LIGHT MODE */

.calculator.toggle{
  background-color: var(--ligth-green);
}

.mini-display.toggle {
  background-color: var(--ligth-green);
  color: var(--dark-blue);
}

.main-display.toggle {
  background-color: var(--ligth-green);
  color: var(--dark-blue);
}

.keys.toggle{
  background-color: var(--white);

}

.number.toggle{
  background-color: var(--white);
  color: var(--dark-blue);
}

.operators.toggle {
  background-color: var(--ligth-green);
  color: var(--dark-blue);
}

.menu.toggle{
  background-color: var(--light-green);
}


/* CONSOLE LOG*/

/* Popup container - can be anything you want */
.popup {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: wheat;
  margin-top: 5px;
  margin-right: 5px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* The actual popup */
.popup .popuptext {
  visibility: hidden;
  font-size: 20px;
  height: 160px;
  width: 160px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
  top: 200%;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  rotate: 100%;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* fade in the popup*/
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

/* CLOSE FUNCTION */

body.close{
visibility: hidden;
}