/* just to set the page so nothing crush*/
html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --green: rgb(149,222,209);
  --dark-green: rgb(57,179,135);
  --dark-blue: rgba(33,43,65,255);
  --ligth-green: rgb(244,253,251);
  --ligth-blue: rgba(46,57,81,255);
  --light-grey: rgba(142,160,154,255);
  --graffiti: rgba(54,62,71,255);
  --red: rgba(245,84,77,255);
  --yellow: #f0be32;
  --neon-green: #3fca3f;
}

/* main calculator box set-up*/
.calculator {
  border: 1px solid var(--dark-blue);
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* this way we adjust the display placement of the calculator */
  width: 500px;
  height: 700px;
  background-color: var(--dark-blue);
}

.mini-display, .main-display{
  width: 100%;
  height: 13.5%;
  border: none;
  background-color: var(--dark-blue);;
  color: var(--dark-green);
  text-align: right;
  justify-content:baseline;
  padding-right: 15px;

}

.mini-display{
  font-size: 2rem;
  padding-top: 40px;
}

.main-display{
  font-size: 4rem;
  padding-bottom: 10px;
  padding-top: 30px

}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: 67.5%;
  background-color: var(--ligth-blue);
  align-items: center;
  justify-content: center;
  padding-left: 30px;
}

.keys button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border-style: none;
  font-size: xx-large;
}

.keys button:hover{
  background-color: rgb(167, 154, 154);
  color: rgb(0, 0, 0);
}

#equal {
  grid-column:3/5;
  height: 70px;
  width: 90%;
  border-radius: 5px;
  border-style: none;
  font-size: xx-large;
}

#equal:hover{
  background-color: rgb(211, 143, 16);
}

.menu{
  display: flex;
  justify-content: space-between;
  background-color: var(--dark-blue);
  height: 3%;
  margin: 5px;
}

.divToggle {
  justify-content: flex-start;
  align-items:space-between;
}

/* .toggle{
  height: 20px;
  width: 40px;
  background-color: var(--dark-green);
  border: 1px solid var(--dark-green);
  border-radius: 25px;
  margin-right: 8px;
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
} */

#button-toggle{
  font-size: 7px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: var(--dark-green);
  height: 3em;
  width: 6em;
  border-radius: 3em;
  cursor: pointer;
  outline: 0;
  transition: background-color 0.09s ease-in-out;
  position: relative;
  margin-top: 10px;
  margin-right: 10px;
}

#button-toggle:checked {
background-color: white;
padding-top: 10px;
}

#button-toggle::after {
  content:"";
  height: 3em;
  width: 3em;
  background-color: white;
  border-radius: 3em;
  position: absolute;
  transform: left 0.09s ease-in-out;
  box-shadow: 0 0.1em rgba(0, 0 ,0 , 0.5);
  padding-top: 10px;

}

#button-toggle:checked::after {
  left: 3em;
  background-color: var(--dark-green);
/*   padding-top: 10px;
 */
}

.menu button{
  width: 15px;
  height: 15px;
  font-size: 7px;
  border-radius: 25px;
  margin-left: 8px;
  margin-top: 8px;
  border-style: none;
}
.clear-red{
  background-color: var(--red);
}

.clear-yellow{
  background-color: var(--yellow);
}

.clear-green{
  background-color: var(--neon-green);
}

body{
  background-color: var(--green);
}

.dark-blue{
  background-color: var(--dark-blue);
  color: var(--dark-green);
}

.number {
background-color: var(--ligth-blue);
color: var(--light-grey);
}

.dark-green{
  background-color: var(--dark-green);
}

.red{
  background-color: var(--dark-blue);
  color: var(--dark-green)
}
